personal-web-desktop {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}

.pwd {
  background-color: #383838;
  display: grid;
  grid-template-rows: auto min-content;
  grid-template-columns: 100%;
  grid-template-areas: 'desktop' 'taskbar';
  align-items: start;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: inherit;
}

.pwd .desktop {
  grid-area: desktop;
  overflow: hidden;
  width: inherit;
}

.pwd taskbar-pwd {
  grid-area: taskbar;
  width: inherit;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 5px 0 black;
}
